In [30]:
import os
import xarray as xr
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from prophet.plot import plot_plotly,plot_components_plotly
from prophet import Prophet

In [31]:
def calc_index(given_lat,given_lon):
    lon_index = int(((np.floor(given_lon/0.625) * 0.625) - (-180))/0.625)
    lon_index = 0 if lon_index == 576 else lon_index
    lat_index = int(((np.floor(given_lat/0.5) * 0.5) - (-90))/0.5)
    return lat_index,lon_index

In [32]:
def get_conc(folder_name,lat_index,lon_index):
    conc_column = np.empty((0,),dtype='float32')
    data_folder = os.listdir(f'../data/{folder_name}')
    for data_file in data_folder:
        data = xr.open_dataset(f"../data/{folder_name}/{data_file}")
        if folder_name == 'aqi1':
            code = 'DUSMASS25'
        elif folder_name == 'aqi2':
            code = 'COSC'
        elif folder_name == 'aqi3':
            code = 'TO3'
        else:
            code = 'Invalid'
        conc_data = np.array(data[code].values)[0]
        conc_val = conc_data[lat_index][lon_index]
        conc_column = np.append(conc_column,conc_val)
    return conc_column

In [33]:
date_column = pd.date_range(start='1/1/2005',end='12/1/2023',freq='MS')

In [34]:
given_lat= -20.296059
given_lon= -85.824539
lat_index,lon_index = calc_index(given_lat,given_lon)

In [35]:
ppm_conc = get_conc('aqi1',lat_index,lon_index)
co_conc = get_conc('aqi2',lat_index,lon_index)
o3_conc = get_conc('aqi3',lat_index,lon_index)

In [36]:
df = pd.DataFrame({'ppm_conc' : ppm_conc, 'co_conc' : co_conc,'o3_conc' : o3_conc}, index=date_column)

In [37]:
df

                ppm_conc    co_conc     o3_conc
2005-01-01  2.964610e-10  40.159225  257.470978
2005-02-01  3.785647e-10  41.522316  257.344391
2005-03-01  1.991675e-10  39.376335  248.837723
2005-04-01  2.763307e-10  43.654011  252.885559
2005-05-01  9.221435e-11  43.319599  254.383636
...                  ...        ...         ...
2023-08-01  1.654894e-10  47.720806  270.927002
2023-09-01  1.394236e-10  51.214149  289.631104
2023-10-01  1.826249e-10  54.868431  288.838562
2023-11-01  1.699754e-10  51.385498  283.403748
2023-12-01  2.535623e-10  46.143078  271.714691

[228 rows x 3 columns]